.navbar {
  background-color: burlywood;
  .auth-btns {
    justify-content: flex-end;
    button {
      margin: 0px 5px;
    }
  }
  .active {
    border-bottom: 2px solid blue;
    a {
      color: blue;
    }
  }
}

.dropdown {
  cursor: pointer;
  .dropdown-toggle {
    color: black;
    text-decoration: none;
  }
}
.open ul {
  display: block;
  right: 0px;
}
