.navbar {
  background-color: burlywood;
  .auth-btns {
    width: 15%;
    justify-content: space-between;
  }
  .active {
    border-bottom: 2px solid blue;
    a {
      color: blue;
    }
  }
}

.dropdown{
  cursor: pointer;
  .dropdown-toggle{
    color: black;
    text-decoration: none;
  }
}
.open ul{
  display: block;
  right: 0px;
}
