<div *ngIf="loading" class="spinner-wrapper">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<form
  *ngIf="!loading"
  #form="ngForm"
  class="col-md-6 m-auto mt-5"
  (ngSubmit)="onSubmit(form)"
>
  <div class="mb-3">
    <label for="name" class="form-label">Enter Product Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      ngModel
      name="name"
      required
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Select Category</label>
    <select
      id="category"
      required
      class="form-select"
      aria-label="Default select example"
      ngModel="Mobiles & Accessories"
      name="category"
    >
      <option value="Mobiles & Accessories" selected>
        Mobiles & Accessories
      </option>
      <option value="Computers & Accessories">Computers & Accessories</option>
      <option value="Audio Systems">Audio Systems</option>
      <option value="TV'S">TV'S</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Enter description</label>
    <textarea
      class="form-control"
      name="description"
      id="description"
      required
      ngModel
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Enter Product Price $</label>
    <input
      type="number"
      class="form-control"
      id="price"
      ngModel
      name="price"
      required
    />
  </div>
  <div class="mb-3">
    <label for="images" class="form-label">Upload Images</label>
    <input
      multiple
      type="file"
      class="form-control"
      id="images"
      ngModel
      name="images"
      [required]="!editingProduct || productImages.length === 0"
      (change)="uploadMultiFileEvt($event)"
    />
  </div>
  <div
    *ngIf="productImages.length > 0"
    class="mb-3 images-div"
  >
    <h4>
      Current Photos
      <br />
      <span>Click Photos To Delete It</span>
    </h4>
    <div
      *ngFor="let image of productImages; let i = index"
      (click)="onDeleteImage(i)"
    >
      <img [src]="image" alt="" />
    </div>
  </div>
  <div class="col-md-6 m-auto">
    <button
      *ngIf="!editingProduct"
      [disabled]="!form.valid"
      class="btn btn-primary w-100"
      type="submit"
    >
      Upload Product
    </button>
    <button
      *ngIf="editingProduct"
      [disabled]="!form.valid"
      class="btn btn-primary w-100"
      type="submit"
    >
      Update Product
    </button>
  </div>
</form>
