input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .spinner-border {
    --bs-spinner-width: 5rem;
    --bs-spinner-height: 5rem;
    --bs-spinner-border-width: 0.5rem;
  }
}
.alert-danger{
  text-align: center;
}
